
<h2>Orders</h2>
Filter: <input type="text" ng-model="orderFilter.name"/>
<br/><br/>
<table>
<thead>
    <tr>
        <th ng-click="doSort('name')">Name</th>
        <th ng-click="doSort('city')">City</th>
        <th ng-click="doSort('orderTotal')">Order Total</th>
        <th ng-click="doSort('date')">Date</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="order in orders | filter:orderFilter | orderBy:sortBy:reverse">
        <td>{{ order.name }}</td>
        <td>{{ order.city }}</td>
        <td>{{ order.orderTotal | currency}}</td>
        <td>{{ order.date }}</td>
    </tr>
</tbody>
</table>
<br>
<span>Total Orders: {{ orders.length }}</span>
